## id menor de 50

```mysql

SELECT *
FROM posts
WHERE  id<50;


```

#  filtar iguales a activo
```mysql
SELECT *
FROM posts
WHERE  estatus='activo';

```

#  filtar diferentes a activo
```mysql

SELECT *
FROM posts
WHERE  estatus !='activo';
```

# filtrar que tenga la palabra escandalo

el % significa que hay cualquier cosa antes o despues 
```mysql
SELECT *
FROM posts
WHERE  titulo LIKE '%escandalo%';




```
# que termine en la palabra roja

```mysql

SELECT *
FROM posts
WHERE  titulo LIKE '%roja';
```

# fecha posterior a 2025
```mysql
SELECT *
FROM posts
WHERE  fecha_publicacion > '2025-01-01'

```

# fechas entre enero y diciembre 2025
```mysql

SELECT *
FROM posts
WHERE  fecha_publicacion BETWEEN  '2025-01-01' AND '2025-12-31'
```

```mysql

SELECT *
FROM posts
WHERE  id BETWEEN  '50' AND '60'
```

solo por year

```mysql
SELECT *
FROM posts
WHERE  YEAR(fecha_publicacion) BETWEEN  '2023' AND '2024'

```

# Post solo de abril 04
```mysql


SELECT *
FROM posts
WHERE  MONTH(fecha_publicacion) ='04'
```