In [1]:
import pandas as pd
pd.__version__
import numpy as np

In [2]:
import seaborn as sns

In [3]:
pd.options.display.float_format = '{:,.3f}'.format

#para restringier
# el numero de decimales que se muestra en el dataframe

In [10]:
df = sns.load_dataset('tips')
df['ones']=1
df['bin_total']=pd.cut(df['total_bill'], bins =[3,18,35,60])

df.groupby(['sex','time'])[['total_bill']].mean()

               total_bill
sex    time
Male   Lunch       18.048
       Dinner      21.461
Female Lunch       16.339
       Dinner      19.213

# vamos a hacer un reset index para borrar los indices y  vamos a guardarlo den df_gp

In [12]:
df_gp=df.groupby(['sex','time'])[['total_bill']].mean().reset_index()
df_gp

      sex    time  total_bill
0    Male   Lunch      18.048
1    Male  Dinner      21.461
2  Female   Lunch      16.339
3  Female  Dinner      19.213

In [13]:
df_gp.pivot_table(values='total_bill',index='sex', columns='time')
# aqui lo que veo es que mi tabla se a estructurado sex coomo  indice

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

![](https://pandas-docs.github.io/pandas-docs-travis/_images/reshaping_pivot.png)