In [ ]:
!pip install --upgrade pandas  #cuando uso esto casi siempre fallan las cosas , no usar a menos que algo falle

Requirement already up-to-date: pandas in /usr/local/lib/python3.7/dist-packages (1.2.4)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
pd.__version__
import numpy as np

In [ ]:
%cd '/content/drive/My Drive/Colab Notebooks/pandas/db'
!ls

/content/drive/My Drive/Colab Notebooks/pandas/db
Meteorite_Landings.csv	test.hdf   test.parquet  test.xlsx
test.csv		test.json  test.pkl

comando head para ver el numero de datos que quiero , dentro de parentesis numero  

tambien puedo usar tail para ver la colo

sample para ver datos aleatorios

In [ ]:
df_Meteorites=pd.read_csv('/content/drive/My Drive/Colab Notebooks/pandas/db/Meteorite_Landings.csv') #leer el archivo
df_Meteorites.head(10)

                  name   id nametype  ... reclat  reclong           GeoLocation
0               Aachen    1    Valid  ...   50.8      6.1     (50.775, 6.08333)
1               Aarhus    2    Valid  ...   56.2     10.2  (56.18333, 10.23333)
2                 Abee    6    Valid  ...   54.2   -113.0    (54.21667, -113.0)
3             Acapulco   10    Valid  ...   16.9    -99.9     (16.88333, -99.9)
4              Achiras  370    Valid  ...  -33.2    -65.0   (-33.16667, -64.95)
5             Adhi Kot  379    Valid  ...   32.1     71.8          (32.1, 71.8)
6  Adzhi-Bogdo (stone)  390    Valid  ...   44.8     95.2  (44.83333, 95.16667)
7                 Agen  392    Valid  ...   44.2      0.6   (44.21667, 0.61667)
8               Aguada  398    Valid  ...  -31.6    -65.2    (-31.6, -65.23333)
9        Aguila Blanca  417    Valid  ...  -30.9    -64.5   (-30.86667, -64.55)

[10 rows x 10 columns]

examinar el tamano de la base de datos con  .shape

y tambien .size  que es el producto de las filas por las columnas

In [ ]:
df_Meteorites.shape

(45716, 10)

In [ ]:
df_Meteorites.size

457160

.describe() me dice propiedades estadisticas de la base de datos

In [ ]:
df_Meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [ ]:
df_Meteorites.head(10)

para especificar el numero de decimales

y para que separe las unidades de mil la coma '{:,.1f}'

In [ ]:
pd.options.display.float_format='{:,.1f}'.format

In [ ]:
df_Meteorites.describe()

            id     mass (g)   reclat  reclong
count 45,716.0     45,585.0 38,401.0 38,401.0
mean  26,889.7     13,278.1    -39.1     61.1
std   16,860.7    574,988.9     46.4     80.6
min        1.0          0.0    -87.4   -165.4
25%   12,688.8          7.2    -76.7      0.0
50%   24,261.5         32.6    -71.5     35.7
75%   40,656.8        202.6      0.0    157.2
max   57,458.0 60,000,000.0     81.2    354.5

para obtener informacion de las variables tipo texto uso  df_Meteorites.describe(include='all')

In [ ]:
df_Meteorites.describe(include='all')

                         name       id nametype  ...   reclat  reclong GeoLocation
count                   45716 45,716.0    45716  ... 38,401.0 38,401.0       38401
unique                  45716      nan        2  ...      nan      nan       17100
top     Meteorite Hills 00411      nan    Valid  ...      nan      nan  (0.0, 0.0)
freq                        1      nan    45641  ...      nan      nan        6214
mean                      NaN 26,889.7      NaN  ...    -39.1     61.1         NaN
std                       NaN 16,860.7      NaN  ...     46.4     80.6         NaN
min                       NaN      1.0      NaN  ...    -87.4   -165.4         NaN
25%                       NaN 12,688.8      NaN  ...    -76.7      0.0         NaN
50%                       NaN 24,261.5      NaN  ...    -71.5     35.7         NaN
75%                       NaN 40,656.8      NaN  ...      0.0    157.2         NaN
max                       NaN 57,458.0      NaN  ...     81.2    354.5         NaN

[11 rows x 10 columns]

di queremos ver de que estan compuestas las categorias de nuestro dataframe usamos .info()


dtypes para el tipo de variables

In [ ]:
df_Meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [ ]:
df_Meteorites.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year            object
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

convertir al formato mas adecuado

por ejemplo los object a string

de int64  a Int64  la I mayuscula es un nuevo tipo de entero que puede entender las varialbes no definidas

**Variable categorica**
**9Estructuras de dataframes**

In [ ]:
 df_Meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [ ]:
df_Meteorites[['fall','nametype']] = df_Meteorites[['fall','nametype']].astype('category') #aqui agregue el category que se ve en dtypes

In [ ]:
df_Meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [ ]:
df_Meteorites['fall'].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [ ]:
df_Meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

variable dumies

 #aqui convertimos variables tipo texto a variables dumies

In [ ]:
pd.get_dummies(df_Meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

crear nuevas variables creando nuevas columnas

In [ ]:
df_Meteorites['ones']=1
df_Meteorites

             name     id nametype  ... reclong             GeoLocation ones
0          Aachen      1    Valid  ...     6.1       (50.775, 6.08333)    1
1          Aarhus      2    Valid  ...    10.2    (56.18333, 10.23333)    1
2            Abee      6    Valid  ...  -113.0      (54.21667, -113.0)    1
3        Acapulco     10    Valid  ...   -99.9       (16.88333, -99.9)    1
4         Achiras    370    Valid  ...   -65.0     (-33.16667, -64.95)    1
...           ...    ...      ...  ...     ...                     ...  ...
45711  Zillah 002  31356    Valid  ...    17.0       (29.037, 17.0185)    1
45712      Zinder  30409    Valid  ...     9.0     (13.78333, 8.96667)    1
45713        Zlin  30410    Valid  ...    17.7       (49.25, 17.66667)    1
45714   Zubkovsky  31357    Valid  ...    41.5     (49.78917, 41.5046)    1
45715  Zulu Queen  30414    Valid  ...  -115.7  (33.98333, -115.68333)    1

[45716 rows x 11 columns]

In [ ]:
df_Meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

para convertir a formato tipo tiempo

In [ ]:
pd.to_datetime(
df_Meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [ ]:
df_Meteorites['year'] =  pd.to_datetime(
df_Meteorites['year'],
errors = 'coerce',
format = '%m/%d/%Y %H:%M:%S %p'
)

In [ ]:
df_Meteorites.rename(columns={'mass (g)':'mass(d)'}, inplace=True)

In [ ]:
df_Meteorites

             name     id nametype  ... reclat  reclong             GeoLocation
0          Aachen      1    Valid  ...   50.8      6.1       (50.775, 6.08333)
1          Aarhus      2    Valid  ...   56.2     10.2    (56.18333, 10.23333)
2            Abee      6    Valid  ...   54.2   -113.0      (54.21667, -113.0)
3        Acapulco     10    Valid  ...   16.9    -99.9       (16.88333, -99.9)
4         Achiras    370    Valid  ...  -33.2    -65.0     (-33.16667, -64.95)
...           ...    ...      ...  ...    ...      ...                     ...
45711  Zillah 002  31356    Valid  ...   29.0     17.0       (29.037, 17.0185)
45712      Zinder  30409    Valid  ...   13.8      9.0     (13.78333, 8.96667)
45713        Zlin  30410    Valid  ...   49.2     17.7       (49.25, 17.66667)
45714   Zubkovsky  31357    Valid  ...   49.8     41.5     (49.78917, 41.5046)
45715  Zulu Queen  30414    Valid  ...   34.0   -115.7  (33.98333, -115.68333)

[45716 rows x 10 columns]

In [ ]:
list(df_Meteorites)

['name',
 'id',
 'nametype',
 'recclass',
 'mass',
 'fall',
 'year',
 'reclat',
 'reclong',
 'GeoLocation',
 'ones']

borrar una columna

In [ ]:
df_Meteorites.drop(['ones'],axis=1, inplace=True)

borrar filas

In [ ]:
df_Meteorites.drop([0,2,4,6])

In [ ]:
df_Meteorites.drop(columns = ['id','recclass'],index=[0,2,4,6])

             name nametype     mass  ... reclat reclong             GeoLocation
1          Aarhus    Valid    720.0  ...   56.2    10.2    (56.18333, 10.23333)
3        Acapulco    Valid  1,914.0  ...   16.9   -99.9       (16.88333, -99.9)
5        Adhi Kot    Valid  4,239.0  ...   32.1    71.8            (32.1, 71.8)
7            Agen    Valid 30,000.0  ...   44.2     0.6     (44.21667, 0.61667)
8          Aguada    Valid  1,620.0  ...  -31.6   -65.2      (-31.6, -65.23333)
...           ...      ...      ...  ...    ...     ...                     ...
45711  Zillah 002    Valid    172.0  ...   29.0    17.0       (29.037, 17.0185)
45712      Zinder    Valid     46.0  ...   13.8     9.0     (13.78333, 8.96667)
45713        Zlin    Valid      3.3  ...   49.2    17.7       (49.25, 17.66667)
45714   Zubkovsky    Valid  2,167.0  ...   49.8    41.5     (49.78917, 41.5046)
45715  Zulu Queen    Valid    200.0  ...   34.0  -115.7  (33.98333, -115.68333)

[45712 rows x 8 columns]

para  trabajar en una copia

In [ ]:
df  = df_Meteorites.copy(deep=True)
df.drop(['id'],axis=1,inplace=True)

In [ ]:
df

             name nametype  ... reclong             GeoLocation
0          Aachen    Valid  ...     6.1       (50.775, 6.08333)
1          Aarhus    Valid  ...    10.2    (56.18333, 10.23333)
2            Abee    Valid  ...  -113.0      (54.21667, -113.0)
3        Acapulco    Valid  ...   -99.9       (16.88333, -99.9)
4         Achiras    Valid  ...   -65.0     (-33.16667, -64.95)
...           ...      ...  ...     ...                     ...
45711  Zillah 002    Valid  ...    17.0       (29.037, 17.0185)
45712      Zinder    Valid  ...     9.0     (13.78333, 8.96667)
45713        Zlin    Valid  ...    17.7       (49.25, 17.66667)
45714   Zubkovsky    Valid  ...    41.5     (49.78917, 41.5046)
45715  Zulu Queen    Valid  ...  -115.7  (33.98333, -115.68333)

[45716 rows x 9 columns]